.g-portable {

	display: none !important;
}

/*@media (min-width: 1300px) {

	.g-portable {

		display: none !important;
	}
}

@media (max-width: 1299px) {

	.b-navigation {

		position: fixed;
		top: 0;
		left: -280px;
		width: 280px;
	}

}*/
