/*.g-portable {

	display: none !important;
}
/**/

/**/.ms-signInLink {

	display: none !important;
}

@media (min-width: 992px) {

	.g-portable {

		display: none !important;
	}
}

@media (max-width: 1367px) {

.l-header {}

	.l-header:before {

		margin-right: 495px;
	}

	.l-header .l-header-inside {

		max-width: 990px;
	}

.l-content {}

	.l-content .l-content-inside {

		max-width: 990px;
	}

	.l-footer .l-footer-inside {

		max-width: 990px;
		padding: 40px 0;
	}

.b-logo {

	padding: 0 20px 0 0;
}

.b-primary-menu {

	margin-left: 90px;
}

	.b-primary-menu .b-primary-menu-clause {

		font-size: 13px;
	}

.b-general-phone {

	font-size: 14px;
}

.l-header .lang {

	font-size: 0;
}

	.l-header .lang .lang__item {

		font-size: 14px;
		padding: 0 6px;
	}

	.b-language-menu .b-language-menu-clause {

		display: none;
	}

.b-secondary-menu {

	padding-left: 12px;
	margin-left: 12px;
}

	.b-secondary-menu .b-secondary-menu-user-clause {

		margin-left: 14px;
	}

.b-search-opened-form {

	left: 210px;
}

.b-caption {}

	.b-caption .b-caption-description {

		font-size: 30px;
		line-height: 35px;
		margin-top: 5px;
		margin-right: 400px;
	}

	.b-caption .b-caption-title {

		margin-right: 455px;
		float: none;
	}

	.b-caption .b-caption-sociality-menu {

		width: 204px;
	}

.b-promos-collection {

	padding: 35px 40px;
	height: auto;
}

	.b-promos-collection .b-promos-article {

		width: 450px;
	}

	.b-promos-one-picture-collection .b-promos-article {

		width: auto;
	}

.b-news-collection {

	padding: 0 24px 50px;
}

	.b-news-collection .b-news-collection-title {

		padding-left: 14px;
	}

	.b-news-collection .b-news-article {

		width: 314px;
		height: 340px;
		padding: 0 10px;
	}

		.b-news-collection .b-news-article .b-news-article-picture {

			height: 195px;
		}

		.b-news-collection .b-news-article .b-news-article-title {

			height: 80px;
		}

	.b-news-rotating-collection .b-news-rotating-collection-backward-roller {

		left: -30px;
	}

	.b-news-rotating-collection .b-news-rotating-collection-forward-roller {

		right: -30px;
	}

.b-advertising-section {

	margin: 0 24px 40px;
}

	.b-advertising-section .b-advertising-article {

		margin: 0 10px 10px;
		width: 451px;
	}

.b-pictures-collection {

	margin: 0 34px 50px;
}

	.b-pictures-collection .b-pictures-collection-inside {

		height: 277px;
		width: 638px;
	}

	.b-pictures-collection .b-pictures-article {

		width: 417px;
		height: 277px;
	}

	.b-rotating-pictures-collection .b-rotating-pictures-collection-roller {

		top: 165px;
	}

.b-partners-collection {

	margin: 0 34px 15px;
}

	.b-partners-collection .b-partners-collection-inside {

		margin: 0 101px;
	}

	.b-partners-rotating-collection .b-partners-rotating-collection-backward-roller {

		left: 32px;
	}

	.b-partners-rotating-collection .b-partners-rotating-collection-forward-roller {

		right: 32px;
	}

.b-posts-collection {

	padding: 0 25px 30px 45px;
}

	.b-posts-collection .b-posts-collection-title {

		padding: 17px 20px 17px 7px;
	}

.b-posts-collection .stream li {

	width: 220px;
}

.b-general-contacts {

	margin-left: 210px;
}

	.b-general-contacts .b-general-contacts-title {

		font-size: 25px;
		line-height: 30px;
		padding: 0 0 10px;
	}

.b-mailing-form {

	margin-right: 30px;
}

	.b-mailing-form .b-form-title {

		font-size: 12px;
		line-height: 25px;
	}

	.b-mailing-form .b-form-submit-fieldset {

		top: 32px;
	}

.b-sociality-section {

	float: left;
	margin-right: 0;
	width: auto;
}

	.b-sociality-section .b-sociality-section-title {

		font-size: 12px;
		line-height: 25px;
		text-align: right;
		margin-right: 10px;
	}

.b-sociality-menu {

	width: auto;
}

	.b-sociality-menu .b-sociality-menu-clause {

		margin-right: 10px;
	}

.b-phone-section {

	margin: 0;
}

	.b-phone-section .b-phone-section-title {

		text-align: right;
		font-size: 12px;
		line-height: 25px;
	}

	.b-phone-section .b-phone-section-contents {

		text-align: right;
		font-size: 12px;
		line-height: 25px;
	}

.b-navigation {

	padding: 40px 0 0;
}

	.b-navigation .b-navigation-section {

		padding-right: 30px;
	}

		.b-navigation .b-navigation-section .b-navigation-section-title {

			font-size: 14px;
		}

		.b-auxiliary-menu {

			max-width: 80px;
			font-size: 11px;
			line-height: 14px;
		}

.l-content .page__container {

	max-width: 990px;
}

.l-content .page__title_in {

	padding: 0;
}

.l-content #DeltaPlaceHolderMain .page__content {

	max-width: 990px;
	padding-left: 250px;
	padding-right: 285px;
}

#sideNavBox {

	margin-right: 270px;
	width: 225px;
}

.l-content .page__right {

	width: 260px;
	margin-left: 235px;
}

.l-content .page__content._no-right-indent, 
.l-content #DeltaPlaceHolderMain .page__content._no-right-indent {

	padding-left: 250px;
}

		.b-scheme-section .b-scheme-popups-collection .b-scheme-popup {

			left: 160px;
			padding: 15px 20px 20px;
			border-radius: 5px;
			box-shadow: 0 0 20px rgba(0,0,0,.2);
		}

			.b-scheme-section .b-scheme-popups-collection .b-scheme-popup .b-scheme-popup-title {

				width: 380px;
				padding-bottom: 10px;
				font-size: 15px;
				line-height: 20px;
			}

			.b-scheme-section .b-scheme-popups-collection .b-scheme-popup .b-scheme-popup-picture {

				width: 380px;
				margin-bottom: 10px;
			}

			.b-scheme-section .b-scheme-popups-collection .b-scheme-popup .b-scheme-popup-contents {

				width: 380px;
				font-size: 12px;
				line-height: 16px;
				margin-bottom: 10px;
			}

			.b-scheme-section .b-scheme-popups-collection .b-scheme-popup .b-scheme-popup-price {

				width: 380px;
				font-size: 14px;
				line-height: 18px;
				padding-top: 10px;
			}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#freezone {

			width: 118px;
			height: 91px;
			top: 219px;
			left: 40px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#t6 {

			width: 60px;
			height: 41px;
			top: 325px;
			left: 49px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#t5 {

			width: 28px;
			height: 38px;
			top: 257px;
			left: 176px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#t4 {

			width: 101px;
			height: 30px;
			top: 150px;
			left: 162px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#t2 {

			width: 73px;
			height: 29px;
			top: 228px;
			left: 265px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#t1 {

			width: 54px;
			height: 34px;
			top: 183px;
			left: 468px;
			border-radius: 38px 0 38px 0;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#main {

			width: 76px;
			height: 94px;
			top: 82px;
			left: 524px;
			border-radius: 102px 0 102px 0;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#paddock {

			width: 42px;
			height: 55px;
			top: 84px;
			left: 527px;
			border-radius: 90px 0 90px 0;
			z-index: 1;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#village-round {

			width: 94px;
			height: 94px;
			top: 170px;
			left: 165px;
			border-radius: 47px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#village-right {

			width: 108px;
			height: 110px;
			top: 98px;
			left: 544px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#freezone:hover .b-scheme-tooltips-collection-clause-title {

			bottom: 90px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#t1:hover .b-scheme-tooltips-collection-clause-title {

			bottom: -80px;
			right: -20px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#t2:hover .b-scheme-tooltips-collection-clause-title {

			bottom: -65px;
			right: -50px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#t5:hover .b-scheme-tooltips-collection-clause-title {

			bottom: -75px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#t4:hover .b-scheme-tooltips-collection-clause-title {

			bottom: 35px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#t6:hover .b-scheme-tooltips-collection-clause-title {

			bottom: -60px;
			right: -60px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#main:hover .b-scheme-tooltips-collection-clause-title {

			bottom: -80px;
			right: -45px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#paddock:hover .b-scheme-tooltips-collection-clause-title {

			bottom: 60px;
			right: -100px;
		}

			.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#paddock:hover .b-scheme-tooltips-collection-clause-title::before {

				right: 114px;
			}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#village-round:hover .b-scheme-tooltips-collection-clause-title {

			bottom: 80px;
			right: -30px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause#village-right:hover .b-scheme-tooltips-collection-clause-title {

			bottom: -45px;
			right: -20px;
		}

.l-content .article__header {

	margin-left: 0;
}

.l-content a.b-general-scrolltop-button, 
.b-general-scrolltop-button {

	margin-left: 530px;
	font-size: 0;
	width: 54px;
}

}

@media (max-width: 1180px) {

	.l-content a.b-general-scrolltop-button, 
	.b-general-scrolltop-button {
		
		display: none;
	}
}

@media (max-width: 991px) {

.b-general-scrolltop-button {

	display: none;
}

.l-outer .l-outer-primary-section {

	position: relative;
}

.l-header {

	height: 50px;
	line-height: 50px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	overflow: hidden;
	position: absolute;
}

	.l-header:before {

		display: none;
		content: none;
	}

	.l-header .l-header-righthand-section {

		height: 100%;
		margin-right: 10px;
	}

.l-content {

	margin-top: 50px;
	overflow: hidden;
}

.l-footer {

	position: static;
}

	.l-footer .l-footer-inside {

		padding: 40px 17px;
	}

.b-logo {

	position: absolute;
	top: 0;
	left: 130px;
	right: 145px;
	width: auto;
	height: 50px;
	line-height: 50px;
	padding: 0;
}

	.b-logo:before {

		position: absolute;
		top: 0;
		left: 0;
		margin-top: 0;
		margin-left: -49px;
		width: 0;
		height: 0;
		background: none;
		border-width: 25px;
		border-style: solid;
		border-color: transparent #fff #fff transparent;
	}

	.b-logo:after {

		margin-right: -49px;
		border-width: 25px;
	}

	.b-logo .b-logo-link:before {

		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 67px;
		height: 36px;
		margin: -18px 0 0 -34px;
		background: url(../i/graphics.png) -170px -70px no-repeat;
	}

.l-header .lang {

	line-height: 50px;
	font-size: 0;
}

	.l-header .lang .lang__item {

		font-size: 14px;
		padding: 0 5px;
	}

.b-primary-menu {

	display: none;
}

.b-general-phone {

	display: none;
}

.b-secondary-menu {

	border-left: none;
	margin-left: 0;
	height: 100%;
	padding: 0;
}

	.b-secondary-menu .b-secondary-menu-clause {

		line-height: 50px;
		height: 50px;
		width: 30px;
		padding: 0 5px;
	}

	.b-secondary-menu .b-secondary-menu-search-clause:before {

		width: 12px;
		height: 12px;
		margin: -6px 0 0 -6px;
		background-position: -195px 0;
	}

	.b-secondary-menu .b-secondary-menu-user-clause {

		display: none;
	}

.b-search-form {
	
	display: block;
	margin-top: 50px;
	animation-duration: .3s;
	animation-name: searchfloatdown;
	-webkit-animation-duration: .3s;
	-webkit-animation-name: searchfloatdown;
}

.b-search-opened-form {

	left: 0;
	height: 50px;
	margin-top: 0px;
	animation-duration: .3s;
	animation-name: searchfloatup;
	-webkit-animation-duration: .3s;
	-webkit-animation-name: searchfloatup;
}

	.b-search-form .b-form-fieldset {

		height: 30px;
		line-height: 30px;
		margin: 10px 0 10px 10px;
	}

	.b-search-form .b-form-text-fieldset {

		box-sizing: border-box;
		width: 100%;
		margin: 10px 0;
		padding-right: 90px;
		margin-right: -90px;
		padding-left: 60px;
	}

		.b-search-form .b-form-text-fieldset .b-form-fieldset-input {

			font-size: 16px;
			padding: 5px;
		}

	.b-search-form .b-form-submit-fieldset {

		width: 30px;
	}

		.b-search-form .b-form-submit-fieldset .b-form-fieldset-input {

			height: 100%;
		}

	.b-search-form .b-form-reset-fieldset {

		width: 30px;
		margin-right: 10px;
	}

		.b-search-form .b-form-reset-fieldset .b-form-fieldset-input {

			height: 100%;
		}

.b-caption {

	padding: 20px 17px;
}

	.b-caption .b-caption-title {

		margin-right: 140px;
		float: none;
	}

	.b-caption .b-caption-description {

		display: block;
		margin-right: 140px;
	}

	.b-caption .b-caption-sociality-menu {

		top: 50%;
		right: 17px;
		height: 90px;
		margin: -45px 0 0;
		width: 104px;
	}

.b-promos-collection {

	height: auto;
	padding: 14px 18px;
	margin: 0 17px;
	border-top: none;
	text-align: center;
	position: relative;
	padding-bottom: 80px;
}

.b-promos-one-picture-collection {

	padding-bottom: 14px;
}

	.b-promos-collection .b-promos-collection-counter {

		float: none;
	}

		.b-promos-collection .b-promos-collection-counter .b-promos-collection-counter-title {

			width: auto;
		}

		.b-promos-collection .b-promos-collection-counter .b-promos-collection-counter-inside {

			margin-bottom: 25px;
		}

				.b-promos-collection .b-promos-collection-counter .b-promos-collection-counter-clause .b-promos-collection-counter-clause-title {

					text-align: left;
				}

		.b-promos-collection .b-promos-collection-counter .b-button {

			position: absolute;
			bottom: 15px;
			font-size: 15px;
			line-height: 15px;
			padding: 18px 33px 17px;
			border: none;
			left: 50%;
			margin-left: -104px;
		}

	.b-promos-collection .b-promos-article {

		float: none;
		width: 100%;
	}

.b-news-collection {

	padding: 0 2px 20px;
}

	.b-news-collection .b-news-collection-title {

		padding-left: 15px;
	}

	.b-news-collection .b-news-collection-guide {

		margin: 0;
	}

	.b-news-collection .b-news-collection-section {

		padding: 0 70px;
	}

	.b-news-collection .b-news-article {

		width: 33.333%;
		margin: 0;
		padding: 15px;
		height: auto;
	}

		.b-news-collection .b-news-article .b-news-article-picture {

			height: auto;
		}

			.b-news-collection .b-news-article .b-news-article-picture .b-news-article-picture-entity {

				height: auto;
			}

		.b-news-collection .b-news-article .b-news-article-title {

			font-size: 12px;
			line-height: 16px;
		}

	.b-news-rotating-collection .b-news-rotating-collection-backward-roller {

		left: 13px;
	}

	.b-news-rotating-collection .b-news-rotating-collection-forward-roller {

		right: 13px;
	}

.b-advertising-section {

	margin: 0 7px 30px;
}

	.b-advertising-section .b-advertising-article {

		width: 50%;
		margin: 0;
		padding: 0 10px 10px;
		background: none;
	}

		.b-advertising-section .b-advertising-article img {

			border-radius: 5px;
		}

.b-pictures-collection {

	margin: 0 0 30px;
	border: none;
}

	.b-pictures-collection .b-pictures-collection-inside {

		width: auto;
	}

	.b-pictures-collection .b-pictures-current-article .b-pictures-article-title {

		padding: 10px 15px;
		font-size: 16px;
		line-height: 15px;
	}

.b-partners-collection {

	margin: 0 0 30px;
	padding: 0 17px;
}

	.b-partners-collection .b-partners-collection-title {

		padding-left: 0;
	}

.b-posts-collection {

	padding: 0 17px 30px;
}

	.b-posts-collection .b-posts-collection-title {

		padding-left: 0;
	}

	.b-posts-collection .stream li {

		width: 100%;
	}

.b-auxiliary-logo {

	display: none;
}

.b-general-contacts {

	margin-left: 0;
}

.b-mailing-form {

	margin-right: 60px;
}

.b-phone-section {

	float: right;
	margin-right: 0;
}

.b-navigation {

	position: fixed;
	left: -280px;
	width: 280px;
	top: 0;
	bottom: 0;
	padding: 0 0 50px;
	background: #163243;
	overflow: auto;
}

	.b-navigation-toggle {

		position: absolute;
		top: 0;
		left: 0;
		width: 60px;
		height: 50px;
		z-index: 512;
		text-indent: -9999px;
	}

		.b-navigation-toggle:before {

			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 25px;
			height: 18px;
			margin: -9px 0 0 -12px;
			background: url(../i/graphics.png) no-repeat 0 -275px;
		}

		.b-scheme-tooltips-collection .b-scheme-tooltips-collection-clause {

			display: none;
		}

	.b-navigation .b-navigation-section {

		display: block;
		padding: 0;
		border-bottom: 1px solid #82888c;
		position: relative;
	}

		.b-navigation .b-navigation-section .b-navigation-section-title {

			line-height: 50px;
			padding: 0 17px;
			white-space: nowrap;
			background: #000;
		}

			.b-navigation .b-navigation-section .b-navigation-section-title .b-navigation-section-title-link {

				display: block;
				margin-right: 35px;
			}

		.b-navigation .b-navigation-section .b-navigation-section-toggle {

			position: absolute;
			top: 0;
			right: 0;
			width: 50px;
			height: 50px;
		}

			.b-navigation .b-navigation-section .b-navigation-section-toggle:before {

				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 12px;
				height: 22px;
				margin-top: -11px;
				margin-left: -6px;
				background: url(../i/graphics.png) -35px -275px no-repeat;
			}

			.b-navigation .b-navigation-section .b-navigation-section-active-toggle:before {

				width: 22px;
				height: 12px;
				margin-top: -6px;
				margin-left: -11px;
				background-position: -55px -275px;
			}

		.b-auxiliary-menu {

			display: none;
			max-width: none;
			line-height: 12px;
			margin: 0;
			overflow: hidden;
		}
		.b-opened-auxiliary-menu {

			display: block;
		}

			.b-auxiliary-menu .b-auxiliary-menu-clause {

				display: block;
				max-width: none;
				padding: 19px 34px;
				border-top: 1px solid #69777f;
			}

				.b-auxiliary-menu .b-auxiliary-menu-clause .b-auxiliary-menu-clause-link {

					display: block;
					margin: -19px -34px;
					padding: 19px 34px;
				}

/* HELL */

.l-content .page__title {

	display: none;
}

#sideNavBox {

	display: none;
}

.l-content .page__right {

	position: static;
	width: auto;
	margin: 0 17px;
}

	.l-content .page__right .as-h3 {

		font-size: 16px;
		line-height: 20px;
		padding: 0 0 15px;
	}

	.l-content .page__right .event {

		width: 50%;
	}

.l-content .page__content._no-right-indent, 
.l-content #DeltaPlaceHolderMain .page__content._no-right-indent {

	padding: 15px 17px;
}

.l-content #DeltaPlaceHolderMain .page__content {

	padding: 20px 0;
}

.l-content .page__title_in {

	padding: 0 17px;
}

.l-content .tell-friends {

	margin-bottom: 0;
}

.l-content .social-buttons {

	height: auto;
}

	.l-content .social-buttons .social-buttons__item {

		margin-bottom: 10px;
		height: 27px;
	}

	.l-content .social-buttons #sb-facebook {

		margin-left: 0;
		margin-right: 10px;
	}

	.l-content .social-buttons #sb-vk {

		margin-left: 0;
		margin-right: 10px;
	}

	.l-content .social-buttons #sb-twitter {

		margin-left: 0;
		margin-right: 10px;
	}

.l-content .hotel {

	padding: 0 17px 40px;
}

	.l-content .hotel h2 {

		font-size: 16px;
		line-height: 30px;
	}

	.l-content .hotel p {

		font-size: 12px;
		line-height: 16px;
		padding: 0 20px 30px;
		margin: 0 0 -20px;
	}

		.l-content .hotel p span {

			font-size: 12px !important;
			line-height: 16px !important;
		}

	.l-content .hotel .button {

		margin: 0 0 -19px;
		font-size: 12px;
		line-height: 18px;
		padding: 10px;
		letter-spacing: 0;
	}

.l-content .notification {

	margin: 0 17px 40px;
	font-size: 12px;
	line-height: 20px;
	padding: 15px;
}

.l-content .footnote {

	margin: 0 17px;
}

.l-content .road-filter {

	margin: 20px 0;
}

.l-content .road {

	width: 100%;
	height: 680px;
	margin: 0;
}

	.l-content .road__image-layer, 
	.l-content .trace-info._trassa, 
	.l-content .road__svg-layer {

		display: none;
	}

.l-content .page__content-html img {

	height: auto !important;
	max-height: 320px;
	display: block;
	width: auto;
	margin: 5px auto !important;
}

.l-content .page__content-html {

	padding: 0 17px;
}

.l-content .article._news, 
.l-content .blog {

	padding: 0 17px 10px;
}

.l-content .article__header {

	padding: 0;
	margin: 0 0 10px;
}

.l-content .page__content h3 {

	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	font-family: "EuropeDemi", sans-serif;
	font-weight: bold;
	margin: 15px 0;
}

.l-content .contact {

	margin: 0;
	padding: 0 0 5px;
}

	.l-content .contact__name {

		float: none;
		width: auto;
		font-size: 15px;
		line-height: 15px;
		padding: 10px 0;
		color: #444;
		text-transform: none;
		font-family: "EuropeDemi", sans-serif;
		font-weight: bold;
	}

	.l-content .contact__desc {

		display: block;
		width: auto;
		font-size: 12px;
		line-height: 15px;
		margin: 0;
		padding: 0 0 10px;
		color: #000;
		font-family: "Europe", sans-serif;
	}

.l-content .map {

	margin: 0;
}

	.l-content .map .page__content {

		margin: 0;
		padding: 0 17px;
	}

	.l-content .map .map__map-wrap {

		height: 445px;
	}

	.l-content .map .map__map {

		bottom: 0;
	}

	.l-content .ymaps-glass-pane {

		-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.2);
		box-shadow: inset 0 0 10px rgba(0,0,0,.2);
	}

.l-content .objects {

	padding: 15px 40px 0;
	background: #f7f7f7;
	margin: 0 0 25px;
	width: auto;
	font-size: 12px;
	line-height: 15px;
	font-family: "EuropeDemi", sans-serif;
	font-weight: bold;
}

.l-content .objects__col, 
.l-content .objects__col._first, 
.l-content .objects__col._second, 
.l-content .objects__col._third {

	float: none;
	width: auto;
}

	.l-content .objects__item {

		height: auto;
		padding: 0 0 15px;
		margin: 0;
		min-height: 46px;
	}

		.l-content .objects__left {

			position: static;
			display: block;
			float: left;
			width: 31px;
			height: 31px;
			font-size: 0;
			line-height: 0;
		}

			.l-content .objects__num {

				position: relative;
				font-size: 24px;
				width: 31px;
				height: 31px;
				line-height: 31px;
				margin-top: -31px;
				border-radius: 15px;
			}

		.l-content .objects__name {

			margin-left: 40px;
		}

.l-content .form-container {

	padding: 0 17px 20px;
}

.l-content .afisha {

	margin: 0 -17px;
}

	.l-content .afisha__item {

		margin: 0 0 10px;
	}

	.l-content .afisha__item.b-afisha-item-top-right {

		border-radius: 5px 0 0 5px;
	}
	.l-content .afisha__item.b-afisha-item-bottom-right {

		border-radius: 0 5px 5px 0;
	}

	.l-content .afisha__item.b-afisha-item-medium {

		width: 100%;
		border-radius: 5px;
	}

	.l-content .afisha .event__title, 
	.l-content .afisha .event._big .event__title {

		font-size: 16px;
		line-height: 17px;
	}

.fancybox-overlay, 
.fancybox-wrap {

	display: none !important;
}

}

@media (max-width: 860px) {

.b-phone-section {

	float: none;
	clear: both;
}

	.b-phone-section .b-phone-section-title {

		text-align: left;
		display: inline-block;
		margin-right: 10px;
	}

	.b-phone-section .b-phone-section-contents {

		text-align: left;
		display: inline-block;
	}

}

@media (max-width: 800px) {

.b-mailing-form {

	width: 295px;
}

.b-sociality-section {

	float: right;
}

	.b-sociality-section .b-sociality-section-title {

		margin-right: 0;
	}

	.b-sociality-menu {

		text-align: right;
	}

		.b-sociality-menu .b-sociality-menu-clause {

			margin-right: 0;
			margin-left: 10px;
		}

.b-phone-section {

	float: none;
	clear: both;
}

	.b-phone-section .b-phone-section-title {

		text-align: left;
		display: inline-block;
		margin-right: 10px;
	}

	.b-phone-section .b-phone-section-contents {

		text-align: left;
		display: inline-block;
	}

.b-news-collection {

	padding: 0 0 20px;
}

	.b-news-collection .b-news-collection-title {

		padding-left: 17px;
	}

	.b-news-collection .b-news-collection-section {

		padding: 0;
	}

	.b-news-collection .b-news-article {

		width: 100%;
		padding: 15px;
		height: auto;
	}

	.b-news-rotating-collection .b-news-rotating-collection-backward-roller {

		display: none;
	}

	.b-news-rotating-collection .b-news-rotating-collection-forward-roller {

		display: none;
	}

.b-pictures-collection .b-pictures-collection-inside {

	margin: 0 80px 15px;
}

	.b-pictures-collection .b-pictures-article {

		width: 50%;
		height: 70%;
	}

}

@media (max-width: 639px) {

.b-logo {

	left: 100px;
}

.l-footer .l-footer-inside {

	padding: 20px 17px;
}

.l-content .ms-rteElement-H2B + ul h2, 
.l-content p {

	font-size: 12px;
	line-height: 18px;
}

.l-content .page__content h2 {

	font-size: 17px;
	line-height: 25px;
	margin-top: 15px;
	margin-bottom: 10px;
}

	.b-caption .b-caption-title {

		font-size: 12px;
		line-height: 16px;
		margin-right: 114px;
		white-space: normal;
	}

	.b-caption .b-caption-description {

		font-size: 25px;
		line-height: 25px;
		margin-right: 114px;
	}

			.b-promos-collection .b-promos-collection-counter .b-promos-collection-counter-clause {

				margin-right: 8px;
			}

				.b-promos-collection .b-promos-collection-counter .b-promos-collection-counter-clause .b-promos-collection-counter-clause-title {

					font-size: 10px;
					line-height: 12px;
				}

				.b-promos-collection .b-promos-collection-counter .b-promos-collection-counter-clause .b-promos-collection-counter-clause-contents .b-promos-collection-counter-clause-contents-letter {

					font-size: 20px;
					line-height: 26px;
					width: 20px;
				}

				.b-promos-collection .b-promos-collection-counter .b-promos-collection-counter-hours-clause::after, 
				.b-promos-collection .b-promos-collection-counter .b-promos-collection-counter-minutes-clause::after {

					font-size: 20px;
					line-height: 26px;
					width: 8px;
					margin-right: -8px;
				}

	.b-news-collection .b-news-collection-title {

		font-size: 16px;
		line-height: 24px;
		padding-right: 0;
	}

	.b-news-collection .b-news-collection-guide {

		padding: 17px;
		line-height: 24px;
	}

		.b-news-collection .b-news-collection-guide .b-news-collection-guide-clause {

			font-size: 10px;
			line-height: 20px;
		}

			.b-news-collection .b-news-collection-guide .b-news-collection-guide-clause .b-news-collection-guide-clause-link {

				padding: 0 9px;
			}

	.b-news-collection .b-news-article {

		width: 100%;
	}

	.b-advertising-section .b-advertising-article {

		width: 100%;
	}

	.b-pictures-collection .b-pictures-collection-title {

		font-size: 16px;
		line-height: 24px;
		padding: 17px;
	}

	.b-pictures-collection .b-pictures-article {

		width: 60%;
		height: 60%;
	}

	.b-partners-collection .b-partners-collection-title {

		font-size: 16px;
		line-height: 24px;
	}

	.b-partners-collection .b-partners-collection-inside {

		margin: 0 60px;
	}

	.b-partners-rotating-collection .b-partners-rotating-collection-backward-roller {

		left: 17px;
	}

	.b-partners-rotating-collection .b-partners-rotating-collection-forward-roller {

		right: 17px;
	}

	.b-partners-collection .b-partners-article {

		padding: 10px 15px;
		width: 136px;
	}

			.b-partners-collection .b-partners-article .b-partners-article-picture .b-partners-article-picture-entity {

				vertical-align: middle;
			}

	.b-rotating-pictures-collection .b-rotating-pictures-collection-backward-roller {

		left: 17px;
		z-index: 10;
	}

	.b-rotating-pictures-collection .b-rotating-pictures-collection-forward-roller {

		right: 17px;
		z-index: 10;
	}

	.b-posts-collection .b-posts-collection-title {

		font-size: 16px;
		line-height: 24px;
	}

.b-general-contacts .b-general-contacts-title {

	font-size: 15px;
	line-height: 18px;
}

.b-mailing-form {

	width: 100%;
	float: none;
	margin-bottom: 15px;
}
	
	.b-mailing-form .b-form-title {

		font-size: 10px;
		line-height: 20px;
	}

	.b-mailing-form .b-form-email-fieldset .b-form-fieldset-input {

		font-size: 10px;
		padding: 10px 65px 10px 10px;
	}

	.b-mailing-form .b-form-submit-fieldset {

		top: 27px;
		margin: 7px 10px 11px;
	}

.b-sociality-section {

	float: none;
	margin-bottom: 15px;
}

	.b-sociality-section .b-sociality-section-title {

		margin-right: 0;
		text-align: left;
		font-size: 10px;
		line-height: 20px;
	}

	.b-sociality-menu {

		text-align: left;
	}

		.b-sociality-menu .b-sociality-menu-clause {

			margin-right: 10px;
			margin-left: 0;
			width: 44px;
			height: 44px;
		}

.b-phone-section {

	float: none;
	clear: both;
}

	.b-phone-section .b-phone-section-title {

		text-align: left;
		display: inline-block;
		margin-right: 10px;
		font-size: 10px;
		line-height: 20px;
	}

	.b-phone-section .b-phone-section-contents {

		text-align: left;
		display: inline-block;
		font-size: 10px;
		line-height: 20px;
	}

/* HELL */

	.l-content .page__right .event-list__item {

		height: auto;
	}

	.l-content .page__right .event {

		width: 100%;
		height: 240px;
	}

.l-content .road {

	height: 340px;
}

.l-content .trace-info._trassa {

	display: none;
}

.l-content .ms-rtestate-field > div, 
.l-content .ms-rtestate-field > p {

	font-size: 12px;
	line-height: 16px;
}

	.l-content .post__image {

		float: none;
		margin: 10px auto;
	}

.l-content .article._news .article__entry-img {

	width: auto;
}

	.l-content .article__entry-img img {

		width: auto;
	}

	.l-content .article._news .article__date {

		font-size: 10px;
		line-height: 14px;
		margin: 0;
	}

	.l-content .article .article__title {

		font-size: 20px;
		line-height: 24px;
	}

.l-content .afisha {}

	.l-content .afisha__item {

		width: 100%;
		height: 237px;
		border-radius: 5px;
	}

	.l-content .afisha__item.b-afisha-item-top-right {}
	.l-content .afisha__item.b-afisha-item-bottom-right {}

	.l-content .afisha__item.b-afisha-item-medium {

		width: 100%;
		height: 237px;
	}

}

@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) and (max-width: 991px) {

	.b-logo .b-logo-link:before, 
	.b-navigation-toggle:before, 
	.b-navigation .b-navigation-section .b-navigation-section-toggle:before {

		background-image: url(../i/graphics@2x.png);
		background-size: 500px 500px;
	}

}




@keyframes searchfloatup {
	
	from {

		margin-top: 50px;
	}

	to {

		margin-top: 0px;
	}
}

@-webkit-keyframes searchfloatup {
	
	from {

		margin-top: 50px;
	}

	to {

		margin-top: 0px;
	}
}

@keyframes searchfloatdown {
	
	from {

		margin-top: 0px;
	}

	to {

		margin-top: 50px;
	}
}

@-webkit-keyframes searchfloatdown {
	
	from {

		margin-top: 0px;
	}

	to {

		margin-top: 50px;
	}
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

.l-header {

	position: relative;
}

.l-content {

	margin-top: 0;
}

}
